.PokemonDetail {
  background-color: #c8a102;
  border: #2774ba solid 4px;
  border-radius: 3%;
  margin: 5% 30%;
  box-shadow: 0 1.5rem 4rem;
  width: 508px;
  height: 308px;
}

.img-detail {
  width: 20%;
  margin: 5%;
  margin-right: 16%;
}

.PokemonDetail-name {
  display: flex;
  justify-content: space-between;
  margin: 0.3% 2%;
}

.PokemonDetail-skills {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5% 15%;
}
body {
  font-family: "Noto Sans", sans-serif;
}